.install__button {
    border-color: white;
    background-color: transparent;
    border-radius: 50px;
    border: 1.5px solid white;
    color: white;
    cursor: pointer;
    width: 70px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: lighter;
    outline: none;
}

.install {
    width: 70px;
    margin-right: 40px;
    outline: none;
}

.hidden {
    display: none;
}