.sectionPrev__card {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    top: 50%;
    max-height: 300px;
    min-width: 200px;
    padding: 0px;
    margin: 0 auto;
    width: 100vw;
    margin-left: 0.4%;
  }

  .card__box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    width: 75vw;
    padding: 5px;
    margin: 0 auto;
  }
  
  .card.title {
    color: grey;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .card__button {
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: black;
    background-color: white;
    border: 2px solid #0f1014;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
    width: 90%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    margin-left: 1px;
    margin-right: 1px;
  }
  
  button:hover, a:hover {
    background-color: rbga(255,255,255,.5)
  }

  @media only screen and (min-width: 768px) {

    .card__box {
        width: 250px;
      }

}