.header {
    width: 100vw;
    position: absolute;
    z-index: 15;
}

.header__portfolio{
    transition: all 0.2s ease-in-out;
    position: absolute;
    color: white;
    z-index: 1;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 6%;
    margin-top: 15px;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.header__nav {
    position: sticky;
}

nav {
    display: grid;
    background-color: none;
    color: white;
    background-color: #0f1014;
    width: 100%;
    grid-template-columns: 1fr 0.2fr;
    grid-auto-rows: auto;
    align-items: center;
    height: 50px;
}

nav ul {
	display: none;
    position: relative;
	grid-template-rows: repeat(4, 1fr);
	height: 300px;
	width: 100%;
	background-color: #0f1014;
	grid-column-start: 1;
    grid-column-end: 3;
    transition: all 0.1s ease-in-out;
	list-style-type: none;
	margin: 0;
    padding: 0;
	align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

ul li a {
    transition: all 0.1s ease-in-out;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: "Verdana";
    cursor: pointer;
}

#checkbox {
    position: relative;
    display: none;
}

@keyframes leftToRight {
    from {transform: translateX(0vw)}
    to {transform: translateX(100vw)}
}

#checkbox:checked + #uList {
    transition: all 0.1s ease-in-out;
    display: grid;
    @keyframes rightToLeft {
        from {transform: translateX(100vw)}
        to {transform: translateX(0vw)}
    }
    animation: rightToLeft 0.7s ease;
}

#checkboxLabel {
    content: url(../images/bmenu.svg);
    fill: white;
    position: relative;
    display: inline-block;
    grid-column: 2;
    height: 50px;
    width: 50px;
    background-size: cover;
    border: none;
}

@media only screen and (min-width: 768px) {

    ul li a {
        font-size: 1rem;
    }

    .header__portfolio{
        margin-top: 13px;
        margin-left: 40px;
    }

    #checkboxLabel {
        display: none;
        content: none;
    }

    #checkbox {
        display: none;
        content: none;
    }

    .header {
        width: 100vw;
        position: absolute;
    }

    .header__nav {
        position: sticky;
    }

    #uList {
        display: flex;
        justify-content: end;
        height: 50px;
        width: 100%;
        grid-template-rows: 0;
        background-color: transparent;
        grid-column-start: 1;
        grid-column-end: 3;
        list-style-type: none;
        margin: 0;
        padding: 0;
        align-items: center;
        align-content: center;
    }

    nav {
        display: grid;
        width: 100%;
        grid-template-columns: 44% 56%;
        align-items: center;
        height: 50px;
        margin: 0;
    }

    nav ul li {
        margin-right: 20px;
        padding: 0;
        float: right;
        text-decoration: none;
    }

    
    nav h1 {
        margin-left: 22%;
    }

}