<footer class="main__footer">
    <p class="footer__text">© Tolga Özdemir</p>

    <a href="/test/index.html">test</a>
    
    <div style="margin: 24px 0;">
        <a href="https://github.com/TolgaAkaMoon" target="_blank"><i class="fa fa-github" style="color:white;"></i></a> 
        <a href="https://codepen.io/MoonLighter" target="_blank"><i class="fa fa-codepen" style="color:white;"></i></a>  
        <a href="https://www.linkedin.com/in/tolgaozdemir80/" target="_blank"><i class="fa fa-linkedin" style="color:white;"></i></a>  
        <a href="https://www.facebook.com/Tolga.ozdemir.p8" target="_blank"><i class="fa fa-facebook" style="color:white;"></i></a> 
      </div>
</footer>