<header class="header">
    <p class="header__portfolio">Portfolio</p>
    <nav class="header__nav">
        <label for="checkbox" id="checkboxLabel">Show More</label>
        <input type="checkbox" id="checkbox" />
        <ul id="uList">
            <li><a>JAMSTACK</a></li>
            <li><a>FRAMEWORKS</a></li>
            <li><a>WORKFLOW</a></li>
            <li><a>ABOUT</a></li>
        </ul>
    </nav>
</header>