<header class="header">
    <p class="header__portfolio"><a href="/" style="color:white">Portfolio</a></p>
    <nav class="header__nav">
        
        <label for="checkbox" id="checkboxLabel">Show More</label>
        <input type="checkbox" id="checkbox" />
        <ul id="uList">
            <li><a>JAMSTACK</a></li>
            <li><a>FRAMEWORK</a></li>
            <li><a>WORKFLOW</a></li>
            <li><a>OM</a></li>
            <div class="install">
                <button class="install__button hidden">Install</button>
            </div>
        </ul>
    </nav>
</header>