<header class="header">
    <div class="header__triangle"></div>
    <nav class="header__nav">
        <label for="checkbox" id="checkboxLabel">Show More</label>
        <input type="checkbox" id="checkbox" />
        <ul id="uList">
            <li><a href="">HTML & CSS</a></li>
            <li><a href="">Javascript</a></li>
            <li><a href="">Frameworks</a></li>
            <li><a href="">Home</a></li>
        </ul>
    </nav>
</header>