<% include ../partials/head %>
<% include ../partials/header %>

<main class="main">
    <section class="main__section">
            <h1 class="section__h1">
            Mit navn er <span class="text__name">Tolga Özdemir</span>
            <span class="section__text">og jeg er <span class="text__webudvikler">Webudvikler</span></span>
            </h1>
    </section>
    <article class="preview">
        <section class="preview__sectionPrev">
        </section>
        <section>
        </section>
    </article>
</main>

<% include ../partials/footer %>
<% include ../partials/after-footer %>