<% include ../partials/head %>
<% include ../partials/header %>

<main class="main">
    <section class="main__section">
            <h1 class="section__h1">
            Mit navn er <span class="text__name">Tolga Özdemir</span>
            <span class="section__text">og jeg er <span class="text__webudvikler">Webudvikler</span></span>
            </h1>
    </section>
    <article class="preview">
        <section class="sectionPrev__card">
                <div class="card__box">
                    <img src="/w3images/team2.jpg" alt="Tolga" style="width:100%">
                    <h1>Tolga Özdemir</h1>
                    <p class="card__title">Webudvikler</p>
                    <p>Roskilde Tekniske Skole</p>
                    <div style="margin: 24px 0;">
                      <a href="#"><i class="fa fa-dribbble"></i></a> 
                      <a href="#"><i class="fa fa-twitter"></i></a>  
                      <a href="#"><i class="fa fa-linkedin"></i></a>  
                      <a href="#"><i class="fa fa-facebook"></i></a> 
                    </div>
                    <p><button>Kontakt</button></p>
                </div>
        </section>
    </article>

    <section class="">
        
    </section>


</main>

<% include ../partials/footer %>
<% include ../partials/after-footer %>