<% include ../partials/head %>
<% include ../partials/header %>
<main class="main">

    <section class="main__section">
        <h1 class="section__h1">
            Mit navn er <span class="text__name">Tolga Özdemir</span>
            <span class="section__text">og jeg er <span class="text__webudvikler">Webudvikler</span></span>
        </h1>
    </section>

    <article class="preview">
        <section class="sectionPrev__card">
            <div class="card__box">
                <h1>Tolga Özdemir</h1>
                <p class="card__title">Webudvikler</p>
                <p>Roskilde Tekniske Skole</p>
                <div style="margin: 24px 0;">
                    <a href="https://github.com/TolgaAkaMoon" target="_blank"><i class="fa fa-github"></i></a>
                    <a href="https://codepen.io/MoonLighter" target="_blank"><i class="fa fa-codepen"></i></a>
                    <a href="https://www.linkedin.com/in/tolgaozdemir80/" target="_blank"><i
                            class="fa fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/Tolga.ozdemir.p8" target="_blank"><i
                            class="fa fa-facebook"></i></a>
                </div>
                <p><button class="card__button">Kontakt <i class="fa fa-envelope"></i></button></p>
            </div>
        </section>
    </article>

    <section class="main__jamstack">
        <div class="jamstack__div">
            <button class="dropdown-btn">JAMSTACK<i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a class="container__anker">IMUSICPLAYER</a>
                <a class="container__anker">JAVASCRIPT</a>
                <a class="container__anker">API</a>
                <a class="container__anker">HTML</a>
            </div>
            <h1 class="jamstack__heading1">IMusicPlayer</h1>
            <p class="main__jamDesc">
                IMusicPlayer er et projekt jeg havde en uge til, jeg skulle lave alt fra bunden. Jeg skulle bruge
                Spotify's API, som er et meget godt api, men kræver premium abonoment.
            </p>
            <iframe class="jamDesc__iframe" src="https://iplaymusicv1.netlify.app"></iframe>
        </div>

        <div class="main__Frame">
            <button class="Frame__button">Framework</button>>
            <div class="wierd__div">
                <img class="visual__img" src="./assets/images/react.svg">
                <img class="visual__img" src="./assets/images/vue.svg">
                <img class="visual__img" src="./assets/images/bootstrap.svg">
                <img class="visual__img" src="./assets/images/foundation.svg">
            </div>
            <p class="main__jamDesc"><a class="links__to__site" href="https://newsbox.netlify.app/"
                    target="_blank">NEWSBOX</a></p>
            <p class="main__jamDesc">I dette website har jeg arbejdet med Tailwind, som er et CSS Framework, og jeg har
                også arbejdet med CSS Animations.
                Der jeg startede med dette project var jeg lidt "Lost", fordi jeg ikke kendte til Tailwind CSS. Selvom
                jeg havde prøvet det en gang, var det stadigvæk nyt for mig.
            </p>
            <iframe class="jamDesc__iframe" src="https://newsbox.netlify.app/"></iframe>
            <p class="main__jamDesc"><a class="links__to__site" href="https://hificorner.netlify.app"
                    target="_blank">HIFI-Corner</a></p>
            <p class="main__jamDesc">I dette website har jeg arbejdet med React.JS<br>
                React.JS er et framework for JavaScript.<br>
                Dette project var lidt svært at lave, netop fordi react er lidt compliceret. Men nu når jeg er begyndt
                med at kende til React, så bliver det meget nemmere.<br>
            </p>
            <iframe class="jamDesc__iframe" src="https://hificorner.netlify.app"></iframe>
        </div>

        <div class="main__Work">
            <button class="Work__button">Workflow</button>
            <p class="main__jamDesc">
                <img class="visual__img" src="./assets/images/visual.svg">
                Jeg koder på Visual Studio Code, et program der er udviklet af microsoft.<br>
                Det er et program hvor man kan en masse ting med kodning.<br>
                Visual Studio Code kan en masse, en speciel funktion jeg ælsker ved VSCODE er extentions
                (udvidelser).<br>
                Der er flere tusind extentions man kan installere og bruge, og de er bare super fede.<br>
                <br><br>

                <img class="visual__img" src="./assets/images/github.svg">
                Jeg bruger GitHub som workflow.
                Jeg laver et repository og bruger en command der hedder git clone, som cloner mit repository fra
                internettet ned til min computer, derefter kan jeg begynde med at kode.<br>
                Undervejs bruger jeg de 3 vigtigste ting med GitHub.<br>
                Stage, Commit & Push.<br><br><br>

                <img class="visual__img" src="./assets/images/node-js.svg" style="transform: scale(2)">
                Node. js er en platform bygget på Chromes JavaScript-runtime til let at opbygge hurtige og skalerbare
                applikationer.<br>
                Jeg har næsten altid brugt Node.JS til mine websites, det virker super godt og er meget simpelt, når man
                først er kommet ind i det.<br>
                Under Node.JS bruger jeg også gulp og ejs til at gøre mit site mere modulært.
                <br><br><br>

                <img class="visual__img" src="./assets/images/netlify.com.svg">
                Netlify.com er et online platform, hvor du kan få gratis hosting og super god hastighed. <br>
                Man kan vælge at uploade statisk filer fra computeren eller forbinde Netlify med din GitHub konto.<br>
                Når man forbinder Netlify med GitHub, så vælger man et repository og resten gør Netlify selv. <br>
                Det der er super fedt, er at hver gang du laver en ændring på GitHub og pusher, så fanger Netlify den
                ændring og begynder med at opdatere siden.<br>
                Hvis der er nogen fejl, så ødelægger netlify ikke din side, den opdatere kun hvis din kode virker,
                ellers bliver den hvor siden sidst virkede.<br>
            </p>
        </div>

        <div class="main__About">
            <button class="About__button">Om</button>
            <p class="main__jamDesc">
                Mit navn er Tolga Özdemir<br>
                Jeg er 17 år og går på Roskilde Tekniske Skole<br>
                Jeg har kodet i mere end 2 år og er snart færdig med min Webudvikler uddannelse.<br>
                -<br>
                Der jeg lavede mit portfolio site, ville jeg på en eller anden måde vise mine styrker under kodning af
                hjemmesider.<br>
                Jeg startede med at blive inspireret, jeg søgte rundt på hvordan andre Webudviklere havde lavet deres
                portfolio, jeg fik en god ide.<br>
                Jeg begyndte på at skrive HTML, jeg brugte min viden og evne, det gik fra en Header til en main og en
                masse section tags, indtil footeren.<br>
                Derefter begyndte jeg med at skrive CSS, jeg satte style på alle mine elementer, alt hvad jeg kunne se
                skulle se godt ud.<br>
                Men der mangler bare en ting, script, funktionalitet.<br>
                Man kan ikke have et website uden noget funktionalitet, det er det samme som at have en dør man ikke kan
                åbne, og det går ikke.<br>
                Så jeg skrev i Vanilla JavaScript og tilføjede funktionalitet til mit website.<br>
                Nu var jeg næsten i mål, men udover alt det jeg havde lavet, manglede der stadigvæk en ting. <br>
                Indhold.<br>
                Hvad er et website uden inhold?<br>
                Jeg fandt mine gamle projekter, jeg havde lavet flere år siden, og fik det sat ind. <br>
                Nu havde jeg et website der så lækkert ud, men hvordan får jeg vist den til andre?<br>
                Netlify.com<br>
                Så blev det færdigt.<br>
                Det er ikke bare et website, det er mit website.<br>
            </p>
        </div>
    </section>
    <% include ../partials/footer %>
</main>
<% include ../partials/after-footer %>