<% include ../partials/head %>
<% include ../partials/header %>

<main class="main">

    <section class="main__section">
            <h1 class="section__h1">
            Mit navn er <span class="text__name">Tolga Özdemir</span>
            <span class="section__text">og jeg er <span class="text__webudvikler">Webudvikler</span></span>
            </h1>
    </section>

    <article class="preview">
        <section class="sectionPrev__card">
                <div class="card__box">
                    <h1>Tolga Özdemir</h1>
                    <p class="card__title">Webudvikler</p>
                    <p>Roskilde Tekniske Skole</p>
                    <div style="margin: 24px 0;">
                      <a href="#"><i class="fa fa-github"></i></a> 
                      <a href="#"><i class="fa fa-twitter"></i></a>  
                      <a href="#"><i class="fa fa-linkedin"></i></a>  
                      <a href="#"><i class="fa fa-facebook"></i></a> 
                    </div>
                    <p><button>Kontakt</button></p>
                </div>
        </section>
    </article>

    <section class="main__jamstack">
        <div class="jamstack__div">
            <button class="dropdown-btn">JAMSTACK
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
              <a href="#">HTML</a>
              <a href="#">CSS</a>
              <a href="#">JavaScript</a>
            </div>    
        </div>
    </section>


</main>

<% include ../partials/footer %>
<% include ../partials/after-footer %>